<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Astrotime</title>
</head>
<style>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100vh;
		width: 100vw;
	}
</style>

<body>
	<section>
		<h2>Hello, <%= astrologer.name %></h2>
		<h2>You will be connecting to <%= user.name %> in few seconds</h2>
	</section>
</body>

</html>